<ion-header>
  <ion-toolbar color="darkblue">
    <ion-buttons slot="start">
      <ion-buttons slot="start">
        <ion-back-button defaultHref="home"></ion-back-button>
      </ion-buttons>
    </ion-buttons>
    <ion-title>Orders</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="orders && restaurant">
<ion-list *ngFor="let item of orders">
  <ion-item >
    <ion-label>Order nº {{item.orders.id}}</ion-label>
     <ion-label slot="end">{{item.orders.v_Date}}</ion-label> 
  </ion-item>
</ion-list>
</ion-content>
