<ion-content>


    <div class="fondoPantalla">
        <form [formGroup]="registerForm" (ngSubmit)="register()">
            <ion-slide>
                <div class="container-login">
                    <ion-grid>
                        <ion-row>
                            <ion-col>
                                <h1>Register</h1>
                            </ion-col>
                        </ion-row>
                        <ion-row>
                            <ion-col>
                                <ion-list>
                                    <ion-item>
                                        <ion-icon name="person" class="icon-login"></ion-icon>
                                        <ion-input type="text" formControlName="mail" placeholder="Mail"></ion-input>
                                    </ion-item>
                                    <div *ngFor="let error of validationMessages.mail">
                                        <ng-container *ngIf="mail.hasError(error.type) && mail.touched">
                                            <small class="errorMessage">{{error.message}}</small>
                                        </ng-container>
                                    </div>
                                    <br />
                                    <ion-item>
                                        <ion-icon name="lock-closed-outline" class="icon-login"></ion-icon>
                                        <ion-input type="password" formControlName="pwd" placeholder="Password">
                                        </ion-input>
                                    </ion-item>
                                    <div *ngFor="let error of validationMessages.pwd">
                                        <ng-container *ngIf="pwd.hasError(error.type) && pwd.touched">
                                            <small class="errorMessage">{{error.message}}</small>
                                        </ng-container>
                                    </div>
                                    <br />
                                    <ion-item>
                                        <ion-icon name="trail-sign" class="icon-login"></ion-icon>
                                        <ion-input type="text" formControlName="address" placeholder="Address">
                                        </ion-input>
                                    </ion-item>
                                    <div *ngFor="let error of validationMessages.address">
                                        <ng-container *ngIf="address.hasError(error.type) && address.touched">
                                            <small class="errorMessage">{{error.message}}</small>
                                        </ng-container>
                                    </div>
                                    <br />
                                    <ion-item>
                                        <ion-icon name="trail-sign" class="icon-login"></ion-icon>
                                        <ion-input type="text" formControlName="city" placeholder="City"></ion-input>
                                    </ion-item>
                                    <div *ngFor="let error of validationMessages.city">
                                        <ng-container *ngIf="city.hasError(error.type) && city.touched">
                                            <small class="errorMessage">{{error.message}}</small>
                                        </ng-container>
                                    </div>
                                    <br />
                                    <ion-item>
                                        <ion-icon name="earth-outline" class="icon-login"></ion-icon>
                                        <ion-input type="text" formControlName="country" placeholder="Country">
                                        </ion-input>
                                    </ion-item>
                                    <div *ngFor="let error of validationMessages.country">
                                        <ng-container *ngIf="country.hasError(error.type) && country.touched">
                                            <small class="errorMessage">{{error.message}}</small>
                                        </ng-container>
                                    </div>
                                    <br />
                                    <ion-item>
                                        <ion-icon name="mail-open-outline" class="icon-login"></ion-icon>
                                        <ion-input type="text" formControlName="cp" placeholder="Post Code">
                                        </ion-input>
                                    </ion-item>
                                    <div *ngFor="let error of validationMessages.cp">
                                        <ng-container *ngIf="cp.hasError(error.type) && cp.touched">
                                            <small class="errorMessage">{{error.message}}</small>
                                        </ng-container>
                                    </div>
                                </ion-list>
                            </ion-col>
                        </ion-row>
                        <ion-row>
                            <ion-col>
                                <ion-button type="submit" fill="solid" expand="full" color="none" class="btnLog">
                                    Register
                                </ion-button>
                            </ion-col>
                        </ion-row>
                        <ion-row>
                            <ion-col>
                                <ion-label>
                                    <h3>Already have an account?</h3>
                                    <h3><a routerLink="/login">Sign In</a></h3>
                                </ion-label>
                            </ion-col>
                        </ion-row>
                    </ion-grid>
                </div>

            </ion-slide>
        </form>
    </div>