<ion-header>
  <ion-toolbar color="darkblue">
    <ion-menu-button slot="start">
      <ion-menu-button menu="mainMenu"></ion-menu-button>
    </ion-menu-button>
    <ion-title>Category List</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="categories">
  <ion-grid fixed>
    <ion-row>
      <ion-col class="categoryCol ion-align-self-center" *ngFor="let category of categories, index as i" size="6">
        <ion-card class="categoryCard" (click)="showProducts(category)" color="midblue">
          <ion-card-header>
            <ion-card-title class="titleCategory">{{category.name}}</ion-card-title>
            <ion-card-subtitle>{{category.description}} </ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            Products: {{category.productsList.length}}
          </ion-card-content>
        </ion-card>

      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-fab routerLink="/cart" vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon name="cart"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>